<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Welcome</servlet-name>
		<servlet-class>controller.WelcomeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Welcome</servlet-name>
		<url-pattern>/welcome</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Signup</servlet-name>
		<servlet-class>controller.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Signup</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Signin</servlet-name>
		<servlet-class>controller.SigninServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Signin</servlet-name>
		<url-pattern>/signin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Dashboard</servlet-name>
		<servlet-class>controller.DashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dashboard</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<servlet-class>controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Settings</servlet-name>
		<servlet-class>controller.SettingsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Settings</servlet-name>
		<url-pattern>/settings</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Delete</servlet-name>
		<servlet-class>controller.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddTag</servlet-name>
		<servlet-class>controller.AddTagServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddTag</servlet-name>
		<url-pattern>/addTag</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveTag</servlet-name>
		<servlet-class>controller.RemoveTagServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveTag</servlet-name>
		<url-pattern>/removeTag</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>controller.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
</web-app>
